body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #d3b4a4;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  text-align: center;
}
.container1 {
  width: 100%;
  height: 10vh;
  text-align: left;
}
.header {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
  margin-left: 200px;
}

.logo img {
  width: 100px;
  margin-right: 10px;
}

.header h1 {
  color: #862222;
  font-size: 4.5rem;
  margin-top: 5px;
  margin-bottom: 1px;
  align-content: top;
}

.sub-header h2 {
  color: #862222;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 40px;
  margin-top: 30px;
  font-size: 2.5rem;
  line-height: 1.5;
}
.label {
  font-size: 20px;
  font-weight: bold;
}
.label1 {
  font-size: 20px;
  font-weight: bold;
}

.label2 {
  font-size: 20px;
  font-weight: bold;
}
.label3 {
  font-size: 20px;
  font-weight: bold;
}

.buttons {
  margin-bottom: 40px;
}

button {
  background-color: #d08b79;
  color: #862222;
  border: none;
  padding: 15px 30px;
  font-size: 3.25rem;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

button:hover {
  background-color: #bb7664;
}

.custom-line {
  border-color: #862222;
  margin-left: -200px;
  margin-right: -200px;
  border-width: 3px;
}
